<div class="container">
    <h2>{{ clanName }}</h2>
    <div class="row">
        <div class="col-md-6">
            <ngx-loading [show]="isClanInformationLoading && !isClanInformationError"></ngx-loading>
            <p *ngIf="isClanInformationError"
               class="alert alert-danger">
                There was a problem getting the clan's data
            </p>
            <p *ngIf="!guildMembers && !isClanInformationError && !isClanInformationLoading"
               class="alert alert-danger">
                This clan does not exist
            </p>
            <p *ngIf="isBlocked && !isClanInformationError && !isClanInformationLoading"
               class="alert alert-warning">
                This clan is blocked from the leaderboard
            </p>
            <ul *ngIf="guildMembers && !isClanInformationError && !isClanInformationLoading"
                class="list-inline">
                <li>
                    <label>Rank:</label>
                    <span>{{ rank | number }}</span>
                </li>
                <li>
                    <label>Current Raid Level:</label>
                    <span>{{ currentRaidLevel | number }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="isAdmin && !isClanInformationError && !isClanInformationLoading"
         class="row">
        <div class="col-md-6">
            <p *ngIf="isActionsError"
               class="alert alert-danger">
                Oops! Something went wrong.
            </p>
            <ngx-loading [show]="isActionsLoading && !isActionsError"></ngx-loading>
            <button class="btn btn-secondary"
                    (click)="toggleBlock()">
                {{ isBlocked ? "Unblock" : "Block" }}
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngIf="guildMembers && guildMembers.length"
             class="col-lg-6">
            <h3>Clan Members</h3>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Highest Zone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let guildMember of guildMembers">
                        <td>
                            {{ guildMember.nickname }}
                            <span *ngIf="guildMember.userName">
                                (
                                <a routerLink="/users/{{ guildMember.userName }}">{{ guildMember.userName }}</a>
                                )
                            </span>
                        </td>
                        <td class="text-right">{{ guildMember.highestZone | number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="isUserClan"
             class="col-lg-6">
            <h3>Message Board</h3>
            <ngx-loading [show]="isMessagesLoading && !messagesError"></ngx-loading>
            <p *ngIf="messagesError"
               class="alert alert-danger">
                {{ messagesError }}
            </p>
            <form (ngSubmit)="sendMessage()"
                  class="form-inline">
                <input type="text"
                       id="newMessage"
                       name="newMessage"
                       class="form-control"
                       maxlength="150"
                       [(ngModel)]="newMessage" />
                <button type="submit"
                        class="btn btn-success">Send</button>
            </form>
            <div *ngFor="let message of messages"
                 class="clan-message">
                <p>
                    <span>
                        ({{ message.date | timeAgo }})
                    </span>
                    <span [ngClass]="{'text-muted' : !message.username}">
                        {{ message.username || "(Unknown)" }}
                    </span>
                </p>
                <p class="clan-message-content">{{ message.content }}</p>
            </div>
        </div>
    </div>
</div>