<p class="text-muted">
    Based on the
    <a href="https://redd.it/4naohc"
       target="_blank">
        Math by /u/sugima
    </a>
</p>
<fieldset class="form-group">
    <legend class="col-form-legend">Suggestion Type</legend>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input"
                   type="radio"
                   name="suggestionType"
                   [(ngModel)]="suggestionType"
                   [value]="'AvailableSouls'">
            <span>Available Souls</span>
            <span class="text-muted"
                  placement="right"
                  container="body"
                  ngbTooltip="This mode suggests what to buy based on the souls you currently have available">(?)</span>
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input"
                   type="radio"
                   name="suggestionType"
                   [(ngModel)]="suggestionType"
                   [value]="'RulesOfThumb'">
            <span>Rules of Thumb</span>
            <span class="text-muted"
                  placement="right"
                  container="body"
                  ngbTooltip="This shows the optimal levels based on your primary ancient's level. It does not take into account what you can afford currently">(?)</span>
        </label>
    </div>
</fieldset>
<div *ngIf="suggestionType == 'AvailableSouls'"
     class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input"
               name="useSoulsFromAscension"
               [(ngModel)]="useSoulsFromAscension"
               type="checkbox">
        <span>Include souls from ascension (+{{ pendingSouls | exponential }})</span>
    </label>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Ancient</th>
            <th>Current</th>
            <th>Suggested</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ancient of ancients">
            <td>
                {{ ancient.name }}:
                <a href="/Manage"
                   class="text-muted"
                   *ngIf="ancient.name == 'Solomon' && savedGame && savedGame.data && !savedGame.data.transcendent"
                   placement="right"
                   container="body"
                   ngbTooltip="{{userInfo.isLoggedIn ? 'This is using your settings for the Solomon formula preference. You can change this on your settings page.' : 'By default we use the &quot;Ln&quot; Solomon formula. You may change this by logging in and changing your settings.'}}">
                    (?)
                </a>
            </td>

            <td class="text-right">
                {{ ancient.ancientLevel | exponential }}
                <span *ngIf="!ancient.itemLevel.isZero()"
                      placement="right"
                      container="body"
                      ngbTooltip="Effective Level: {{ancient.effectiveLevel | exponential}}">
                    (*)
                </span>
            </td>

            <td class="text-right">
                {{ ancient.isBase ? "N/A" : ancient.suggestedLevel !== undefined ? (ancient.suggestedLevel | exponential) : "-" }}
                <span *ngIf="ancient.isBase"
                      class="text-muted"
                      placement="right"
                      container="body"
                      ngbTooltip="The formulae are based on this ancient. If all suggestions are negative or zero, level this ancient.">
                    (*)
                </span>
            </td>
            <td class="text-right"
                [ngClass]="{'copiable font-weight-bold' : ancient.diffCopyValue}"
                ngxClipboard
                [cbContent]="ancient.diffCopyValue"
                placement="right"
                container="body"
                ngbTooltip="{{ancient.diffValue !== undefined ? 'Click to copy to clipboard' : ''}}">
                {{ ancient.diffValue !== undefined && !ancient.isBase ? (ancient.diffValue | exponential) : "-" }}
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="this.suggestionType === 'AvailableSouls'">
        <tr>
            <th>Hero Souls</th>
            <td class="text-right">{{ availableSouls | exponential }}</td>
            <td class="text-right">{{ spentSouls | exponential }}</td>
            <td class="text-right">{{ remainingSouls | exponential }}</td>
        </tr>
    </tfoot>
</table>