<p class="text-muted">
    Based on the
    <a href="https://redd.it/4naohc"
       target="_blank">
        Math by /u/sugima
    </a>
</p>
<fieldset class="form-group">
    <legend class="col-form-legend">Suggestion Type</legend>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input"
                   type="radio"
                   name="suggestionType"
                   [(ngModel)]="suggestionType"
                   [value]="'AvailableSouls'">
            <span>Available Souls</span>
            <span class="text-muted"
                  placement="right"
                  container="body"
                  ngbTooltip="This mode suggests what to buy based on the souls you currently have available">(?)</span>
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input"
                   type="radio"
                   name="suggestionType"
                   [(ngModel)]="suggestionType"
                   [value]="'RulesOfThumb'">
            <span>Rules of Thumb</span>
            <span class="text-muted"
                  placement="right"
                  container="body"
                  ngbTooltip="This shows the optimal levels based on your primary ancient's level. It does not take into account what you can afford currently">(?)</span>
        </label>
    </div>
</fieldset>
<div *ngIf="suggestionType == 'AvailableSouls'"
     class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input"
               name="useSoulsFromAscension"
               [(ngModel)]="useSoulsFromAscension"
               type="checkbox">
        <span>Include souls from ascension (+{{ pendingSouls | exponential }})</span>
    </label>
</div>
<div>
    <button class="btn btn-secondary"
            [disabled]="suggestionType != 'AvailableSouls' || useSoulsFromAscension"
            (click)="openAutolevelModal(autolevelModal)">
        Autolevel
    </button>
    <span class="text-muted"
          placement="right"
          container="body"
          ngbTooltip="The Autolevel feature is only enabled when using available souls and without using souls from ascension">(?)</span>
    <ng-template #autolevelModal
                 let-c="close"
                 let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Autolevel ancients</h4>
            <button type="button"
                    class="close"
                    (click)="d()">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div *ngIf="modalErrorMessage"
                     class="alert alert-danger">
                    {{ modalErrorMessage }}
                </div>
                <ngx-spinner name="modal"
                             [fullScreen]="false"
                             type="ball-pulse"></ngx-spinner>
                <p class="alert alert-warning">
                    This feature is experimental and is considered cheating. Please report any problems via the
                    <a [openDialog]="FeedbackDialogComponent">feedback form</a> or on
                    <a href="https://github.com/dfederm/ClickerHeroesTracker/issues"
                       target="_blank">Github</a>.
                </p>
                <p *ngIf="autoLeveledSavedGame.isScrubbed"
                   class="alert alert-warning">
                    You are either not logged in or this is not your save, so this has been scrubbed of personal data. If used, you will not be logged in and clan information will be gone.
                </p>
                <p>
                    Import this into Clicker Heroes:
                </p>
                <textarea class="form-control"
                          rows="2"
                          #rawContent
                          readonly>{{ autoLeveledSavedGame.content }}</textarea>
                <button *ngIf="!autoLeveledSavedGame.isScrubbed"
                        type="button"
                        class="btn btn-primary"
                        (click)="saveAutolevel()">Add to Progress</button>
                <button type="button"
                        class="btn btn-primary float-right"
                        [ngxClipboard]="rawContent"
                        (cbOnSuccess)="c()">Copy to Clipboard</button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="d()">Close</button>
        </div>
    </ng-template>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Ancient</th>
            <th>Current</th>
            <th>Suggested</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ancient of ancients">
            <td>
                {{ ancient.name }}:
            </td>

            <td class="text-right">
                {{ ancient.ancientLevel | exponential }}
                <span *ngIf="!ancient.itemLevel.isZero()"
                      placement="right"
                      container="body"
                      ngbTooltip="Effective Level: {{ancient.effectiveLevel | exponential}}">
                    (*)
                </span>
            </td>

            <td class="text-right">
                {{ ancient.isBase ? "N/A" : ancient.suggestedLevel !== undefined ? (ancient.suggestedLevel | exponential) : "-" }}
                <span *ngIf="ancient.isBase"
                      class="text-muted"
                      placement="right"
                      container="body"
                      ngbTooltip="The formulae are based on this ancient. If all suggestions are negative or zero, level this ancient.">
                    (*)
                </span>
            </td>
            <td class="text-right"
                [ngClass]="{'copiable font-weight-bold' : ancient.diffCopyValue}"
                ngxClipboard
                [cbContent]="ancient.diffCopyValue">
                <!-- Need to use a separate container as both ngxClipboard and ngbTooltip use the 'container' attribute and they're incompatible -->
                <div placement="right"
                     container="body"
                     ngbTooltip="{{ancient.diffValue !== undefined ? 'Click to copy to clipboard' : ''}}">
                    {{ ancient.diffValue !== undefined && !ancient.isBase ? (ancient.diffValue | exponential) : "-" }}
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="this.suggestionType === 'AvailableSouls'">
        <tr>
            <th>Hero Souls</th>
            <td class="text-right">{{ availableSouls | exponential }}</td>
            <td class="text-right">{{ spentSouls | exponential }}</td>
            <td class="text-right">{{ remainingSouls | exponential }}</td>
        </tr>
    </tfoot>
</table>