<div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button"
            class="close"
            (click)="activeModal.dismiss()">
        &times;
    </button>
</div>
<div class="modal-body">
    <div *ngIf="errors"
         class="alert alert-danger">
        <div *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>
    <form *ngIf="logins"
          (ngSubmit)="submit()"
          #passwordForm="ngForm">
        <div *ngIf="logins.hasPassword"
             class="form-group"
             [class.has-danger]="!(formCurrentPassword.valid || formCurrentPassword.pristine)">
            <label for="currentPassword">Current Password</label>
            <input type="password"
                   class="form-control"
                   [class.form-control-danger]="!(formCurrentPassword.valid || formCurrentPassword.pristine)"
                   id="currentPassword"
                   name="currentPassword"
                   [(ngModel)]="currentPassword"
                   #formCurrentPassword="ngModel"
                   required />
            <div *ngIf="formCurrentPassword.invalid && (formCurrentPassword.dirty || formCurrentPassword.touched)"
                 class="alert alert-danger">
                Current Password is required
            </div>
        </div>
        <div class="form-group"
             [class.has-danger]="!(formNewPassword.valid || formNewPassword.pristine)">
            <label for="newPassword">New Password</label>
            <input type="password"
                   class="form-control"
                   [class.form-control-danger]="!(formNewPassword.valid || formNewPassword.pristine)"
                   id="newPassword"
                   name="newPassword"
                   [(ngModel)]="newPassword"
                   #formNewPassword="ngModel"
                   required
                   minlength="4" />
            <div *ngIf="formNewPassword.invalid && (formNewPassword.dirty || formNewPassword.touched)"
                 class="alert alert-danger">
                <div *ngIf="formNewPassword.errors.required">
                    New Password is required
                </div>
                <div *ngIf="formNewPassword.errors.minlength">
                    New Password must be at least 4 characters long
                </div>
            </div>
        </div>
        <div class="form-group"
             [class.has-danger]="!(formConfirmNewPassword.valid || formConfirmNewPassword.pristine)">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password"
                   class="form-control"
                   [class.form-control-danger]="!(formConfirmNewPassword.valid || formConfirmNewPassword.pristine)"
                   id="confirmNewPassword"
                   name="confirmNewPassword"
                   [(ngModel)]="confirmNewPassword"
                   #formConfirmNewPassword="ngModel"
                   required
                   [compareEqual]="newPassword" />
            <div *ngIf="formConfirmNewPassword.invalid && (formConfirmNewPassword.dirty || formConfirmNewPassword.touched)"
                 class="alert alert-danger">
                <div *ngIf="formConfirmNewPassword.errors.compareEqual">
                    New Passwords don't match
                </div>
            </div>
        </div>
        <button type="submit"
                [disabled]="!passwordForm.form.valid"
                class="btn btn-primary">
            {{ logins.hasPassword ? 'Change' : 'Set' }} Password
        </button>
    </form>
    <h4 class="pt-2 pb-2">Other log in options</h4>
    <externalLogins [isManageMode]="true"></externalLogins>
</div>