# Find common entries here: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Visual Studio cache and user-specific files
.vs/
*.*proj.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/

# DNX expanded dependencies
project.lock.json

# Visual Studio Publish settings
PublishProfiles/

# npm package dir too
node_modules/

# bower package dir
**/wwwroot/lib/*

# typings downloaded by gulp
typings/

# generated js
**/wwwroot/js/*.js
**/wwwroot/js/*.js.map

# generated css
**/wwwroot/css/*.min.css

# in-memory database used on dev machines
cht.db