# Find common entries here: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Visual Studio cache and user-specific files
.vs/
*.*proj.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/

# Visual Studio Publish settings
PublishProfiles/

# npm packages
node_modules/

# Angular cache
.angular/

# WebClient logs
logs/

# WebClient outputs
dist/
