# Find common entries here: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Visual Studio cache and user-specific files
.vs/
*.*proj.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio Publish settings
PublishProfiles/

# npm package dir too
node_modules/

# generated assets from the WebClient
dist/

# WebClient logs
logs/

# WebClient-generated index.html
**/wwwroot/*.html

# bower and npm package dir
**/wwwroot/lib/*

# generated js
**/wwwroot/**/*.js
**/wwwroot/**/*.js.map

# generated css
**/wwwroot/css/*.min.css

# in-memory database used on dev machines
cht.db
