@using ClickerHeroesTrackerWebsite.Models.Home
@using ClickerHeroesTrackerWebsite.Views

@model ChangelogViewModel

<h2>What's New</h2>

<div id="siteNews"></div>

@using (Html.BeginScripts())
{
    @Scripts.Render("~/Scripts/SiteNews.js")
    <script type="text/javascript">
        SiteNews.create('siteNews', @Model.IsFull.ToString().ToLower());
    </script>

    if (Model.IsFull && User.IsInRole("Admin"))
    {
        @Scripts.Render("~/Scripts/SiteNewsAdmin.js")
    }
}