<h2>Coming Soon</h2>
<ul>
    <li>Rival mode - the whole point of the site. Compare your progress against your friends. This is more or less working already, but disabled until I find a good way to send Rival requests to your friends.</li>
    <li>More stats - Stuff like day over day progress, a "rate" line on the graph that shows "speed" of progress, etc.</li>
    <li>Custom time ranges for graphs - right now there are a few pre-defined ranges, but custom ranges would be nice.</li>
    <li>More robust calculator - When to move gilds, handle the "bridge" gild many use for the ranger they can afford after ascension.</li>
    <li>Support simulation (souls/hr and optimal level) for active playstyles</li>
    <li>Tracking for clan stats and aggregate across clan-mates</li>
</ul>
