@using ClickerHeroesTrackerWebsite.Models.Home

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clicker Heroes Tracker</h1>
    <p class="lead">Try uploading your save to get started</p>

    <p><a asp-controller="Upload" asp-action="Index" class="btn btn-primary btn-lg">Upload »</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_Changelog", new ChangelogViewModel(false))

        <p><a asp-controller="Home" asp-action="New" class="btn btn-default">See all »</a></p>
</div>
</div>
