@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clicker Heroes Tracker</h1>
    <p class="lead">Try uploading your save to get started</p>
    
    <p>@Html.ActionLink("Upload »", "Index", "Upload", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
