@using ClickerHeroesTrackerWebsite.Models.Home

@{
    ViewBag.Title = "What's New";
}

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_Changelog", new ChangelogViewModel(true))
    </div>
    <div class="col-md-6">
        @Html.Partial("_ComingSoon")
    </div>
</div>
