@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops!</h1>
@if (ViewBag.ErrorMessage != null)
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
}
else
{
    <h2 class="text-danger">Something went wrong. Please try again or report the issue using the feedback link above.</h2>
}
