@using ClickerHeroesTrackerWebsite.Models.Dashboard;

@inject UserManager<ApplicationUser> UserManager

@model IList<string>

<h4>Following:</h4>
<table class="table">
    @foreach (var userName in Model)
    {
        <tr>
            <td>@userName</td>
            <td class="text-right">
                <a href="/dashboard/compare?userName1=@UserManager.GetUserName(User)&userName2=@userName">Compare</a>
            </td>
        </tr>
    }
</table>