@model ClickerHeroesTrackerWebsite.Models.Upload.ComputedStatsViewModel

<h4>Computed Stats:</h4>
<table>
    <tr>
        <td>Achievement Multiplier</td>
        <td>@Model.AchievementMultiplier</td>
    </tr>
    <tr>
        <td>Hero Upgrade Multiplier</td>
        <td>@Model.HeroUpgradeMultiplier</td>
    </tr>
    <tr>
        <td>Dark Ritual Multiplier</td>
        <td>@Model.DarkRitualMultiplier</td>
    </tr>
</table>