<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark sticky-top">
    <a routerLink="/"
       class="navbar-brand">Clicker Heroes Tracker</a>
    <button class="navbar-toggler"
            type="button"
            (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="userInfo.isLoggedIn"
                class="nav-item">
                <a class="nav-link"
                   routerLink="/users/{{ userInfo.username }}"
                   routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [openDialog]="UploadDialogComponent">Upload</a>
            </li>
            <li *ngIf="userInfo.isLoggedIn"
                class="nav-item">
                <a class="nav-link"
                   routerLink="/clans"
                   routerLinkActive="active">Clans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/news"
                   routerLinkActive="active">What's New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [openDialog]="FeedbackDialogComponent">Feedback</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"
                   href="https://github.com/dfederm/ClickerHeroesTracker"
                   target="_blank">
                    <img src="/images/github.png"
                         title="Github" />
                </a>
            </li>
            <li *ngIf="userInfo.isLoggedIn && userInfo.isAdmin"
                class="nav-item">
                <a class="nav-link"
                   routerLink="/admin"
                   routerLinkActive="active">Admin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [openDialog]="SettingsDialogComponent">Settings</a>
            </li>
            <li *ngIf="!userInfo.isLoggedIn"
                class="nav-item">
                <a class="nav-link"
                   [openDialog]="RegisterDialogComponent">Register</a>
            </li>
            <li *ngIf="!userInfo.isLoggedIn"
                class="nav-item">
                <a class="nav-link"
                   [openDialog]="LogInDialogComponent">Log in</a>
            </li>
            <li *ngIf="userInfo.isLoggedIn"
                class="nav-item">
                <a class="nav-link"
                   href="#"
                   (click)="logOut($event)">Log off</a>
            </li>
        </ul>
    </div>
</nav>