@using System.Security.Claims;
@using ClickerHeroesTrackerWebsite.Services.Authentication;

@inject IContentManager ContentManager
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ContentManager.RegisterScript("Feedback"); }

<div id="feedbackModal" class="modal fade">
    <form id="feedbackForm" action="/feedback" method="post" role="form">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Feedback</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="feedbackComments">Please leave comments, questions, suggestions, or bug reports</label>
                        <textarea id="feedbackComments" name="comments" class="form-control" data-val="true" data-val-required="You must enter some feedback."></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="comments" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="feedbackEmail">Email</label>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input type="email" id="feedbackEmail" name="email" class="form-control" value="@await User.GetEmailAsync(UserManager)" readonly="readonly" />
                        }
                        else
                        {
                            <p class="help-block">
                                To allow Clicker Heroes Tracker to follow up with you using regarding this feedback, either log in or provide your email address.
                            </p>
                                <input type="email" id="feedbackEmail" name="email" class="form-control" data-val="The email address was not valid." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="feedbackSubmit" type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>
