@if (isError) {
  <p
    class="alert alert-danger">
    There was a problem getting your uploads
  </p>
}
<ngx-spinner name="uploadsTable"
  [fullScreen]="false"
type="ball-pulse"></ngx-spinner>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Ascension</th>
      <th>Zone</th>
      <th>Souls</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (upload of uploads; track upload) {
      <tr>
        <td>{{ upload.ascensionNumber | exponential }}</td>
        <td>{{ upload.zone | exponential }}</td>
        <td>{{ upload.souls | exponential }}</td>
        <td title="Uploaded {{ upload.uploadTime | date:'short' }}">
          {{ upload.saveTime | date:'short' }}
        </td>
        <td class="text-end">
          <a routerLink="/uploads/{{upload.id}}">View</a>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (paginate) {
  <ngb-pagination
    [collectionSize]="totalUploads"
    [(page)]="page"
    [pageSize]="count"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true">
  </ngb-pagination>
}