<p *ngIf="isError"
   class="alert alert-danger">
  There was a problem getting your uploads
</p>
<ngx-loading [show]="isLoading && !isError"></ngx-loading>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Ascension</th>
      <th>Zone</th>
      <th>Souls</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let upload of uploads">
      <td>{{ upload.ascensionNumber | exponential }}</td>
      <td>{{ upload.zone | exponential }}</td>
      <td>{{ upload.souls | exponential }}</td>
      <td>{{ upload.uploadTime | date:'short' }}</td>
      <td class="text-right">
        <a routerLink="/uploads/{{upload.id}}">View</a>
      </td>
    </tr>
  </tbody>
</table>

<ngb-pagination *ngIf="paginate"
                [collectionSize]="totalUploads"
                [(page)]="page"
                [pageSize]="count"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true">
</ngb-pagination>