<p *ngIf="isError">
  There was a problem getting your uploads
</p>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>
        Upload Time
        <a class="text-muted"
           placement="right"
           container="body"
           ngbTooltip="Times not displayed in your time zone? You can adjust your time zone on the settings page.">(?)</a>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let upload of uploads">
      <td>{{ upload.uploadTime | date:'short' }}</td>
      <td class="text-right">
        <a routerLink="/uploads/{{upload.id}}">View</a>
      </td>
    </tr>
  </tbody>
</table>

<ngb-pagination *ngIf="paginate"
                [collectionSize]="totalUploads"
                [(page)]="page"
                [pageSize]="count"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true">
</ngb-pagination>