<div class="container">
  <h2>
    <a routerLink="/users/{{userName}}">{{ userName }}</a>
    vs
    <a routerLink="/users/{{compareUserName}}">{{ compareUserName }}</a>
  </h2>
  <div class="btn-group">
    @for (range of ranges; track range) {
      <button class="btn btn-primary"
        [ngClass]="{'disabled': selectedRange === range}"
        (click)="selectedRange = range">
        {{ range }}
      </button>
    }
  </div>

  @if (isError) {
    <p
      class="alert alert-danger">
      Oops! Something went wrong while fetching progress
    </p>
  }
  @if (charts && !charts.length) {
    <p
      class="alert alert-warning">
      These users have no uploaded data for that time period
    </p>
  }
  <ngx-spinner name="userCompare"
    [fullScreen]="false"
  type="ball-pulse"></ngx-spinner>

  <div class="row">
    @for (chart of charts; track chart) {
      <div class="col-md-{{chart.isProminent ? '6' : '4'}}">
        <!-- Height is intedned to be 400px, but for some reason the chart is 1.7x what we specify, so use 235 -->
        <canvas baseChart
          height="235"
          [type]="'line'"
          [datasets]="chart.datasets"
          [options]="chart.options">
        </canvas>
      </div>
    }
  </div>
</div>