<div class="container">
    <h2>
        <a routerLink="/users/{{userName}}">{{ userName }}</a>
        vs
        <a routerLink="/users/{{compareUserName}}">{{ compareUserName }}</a>
    </h2>
    <div class="btn-group">
        <button *ngFor="let range of ranges"
                class="btn btn-primary"
                [ngClass]="{'disabled': selectedRange === range}"
                (click)="selectedRange = range">
            {{ range }}
        </button>
    </div>

    <p *ngIf="isError"
       class="alert alert-danger">
        Oops! Something went wrong while fetching progress
    </p>
    <p *ngIf="charts && !charts.length"
       class="alert alert-warning">
        These users have no uploaded data for that time period
    </p>
    <ngx-spinner name="userCompare"
                 [fullScreen]="false"
                 type="ball-pulse"></ngx-spinner>

    <div class="row">
        <div *ngFor="let chart of charts"
             class="col-md-{{chart.isProminent ? '6' : '4'}}">
            <!-- Height is intedned to be 400px, but for some reason the chart is 1.7x what we specify, so use 235 -->
            <canvas baseChart
                    height="235"
                    [type]="'line'"
                    [datasets]="chart.datasets"
                    [options]="chart.options">
            </canvas>
        </div>
    </div>
</div>