<p class="text-muted">
    Based on the
    <a href="https://redd.it/7on5it"
       target="_blank">
        work of /u/Driej
    </a>
</p>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input"
               name="useBeta"
               [(ngModel)]="useBeta"
               type="checkbox">
        <span>e11 (web)?</span>
    </label>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Outsider</th>
            <th>Current</th>
            <th>Suggested</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let outsider of outsiders">
            <td>{{ outsider.name }}:</td>
            <td class="text-right">{{ outsider.currentLevel | exponential }}</td>
            <td class="text-right">{{ outsider.suggestedLevel | exponential }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="text-right">Remaining</td>
            <td class="text-right">{{ remainingAncientSouls | exponential }}</td>
        </tr>
    </tfoot>
</table>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>End of Transcension Estimates</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highest Zone:</td>
            <td class="text-right">{{ newHze | exponential }}</td>
        </tr>
        <tr>
            <td>Hero Souls:</td>
            <td class="text-right">{{ newHeroSouls | exponential }}</td>
        </tr>
        <tr>
            <td>Ancient Souls:</td>
            <td class="text-right">{{ newAncientSouls | exponential }} (+{{ ancientSoulsDiff | exponential }})</td>
        </tr>
        <tr>
            <td>Transcendent Power:</td>
            <td class="text-right">{{ newTranscendentPower | percent:'1.1-3' }}</td>
        </tr>
    </tbody>
</table>