@using ClickerHeroesTrackerWebsite.Models.Dashboard.Graph

@inject IContentManager ContentManager

@model GraphViewModel

<div id="@Model.Id" style="width:100%; height:400px;"></div>

@{
    ContentManager.RegisterRawScript("(graphs = window.graphs || {})['" + Model.Id + "'] = " + Model.Data.ToJsonString() + ";");
}
