@inject IContentManager ContentManager

@{
    ContentManager.RegisterScript("ProgressSummary");
}

<div class="clearfix">
    <h4 class="pull-left">Progress summary:</h4>
    <h5 class="pull-right">@Html.ActionLink("See all", "Progress")</h5>
</div>

@Html.Partial("_GraphScripts")

<div id="progressSummary">
</div>
