@using System.Text

<ul class="list-inline">
    <li>
        @{
            var currentRange = Context.Request.Query["range"].ToString();
            if (string.IsNullOrEmpty(currentRange))
            {
                currentRange = "1w";
            }

            var ranges = new[] {
                "1d",
                "3d",
                "1w",
                "1m",
                "3m",
                "1y",
            };
        }

        @foreach (var range in ranges)
        {
            var disabledClass = range.Equals(currentRange, StringComparison.OrdinalIgnoreCase) ? "disabled" : null;

            var sb = new StringBuilder();
            var sawRange = false;
            foreach (var pair in this.Context.Request.Query)
            {
                sb.Append(sb.Length > 0 ? "&" : "?");
                sb.Append(pair.Key);
                sb.Append("=");

                if (pair.Key.Equals("range", StringComparison.OrdinalIgnoreCase))
                {
                    sb.Append(range);
                    sawRange = true;
                }
                else
                {
                    sb.Append(pair.Value);
                }
            }

            if (!sawRange)
            {
                sb.Append(sb.Length > 0 ? "&" : "?");
                sb.Append("range=");
                sb.Append(range);
            }

            <a href="@sb" class="btn btn-default @disabledClass">@range</a>
        }
    </li>
</ul>