@inject IContentManager ContentManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Compare";

    ContentManager.RegisterScript("Helpers");
    ContentManager.RegisterScript("Compare");

    var userName1 = Context.Request.Query["userName1"].ToString();
    var userName2 = Context.Request.Query["userName2"].ToString();
}

<h2>@userName1 vs @userName2</h2>

@Html.Partial("_GraphScripts")
@Html.Partial("_RangeSelector")

<div class="row" id="graphs">
</div>
