@inject IContentManager ContentManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Progress";

    ContentManager.RegisterScript("Helpers");
    ContentManager.RegisterScript("Progress");

    var userName = Context.Request.Query["userName"].ToString();
    if (string.IsNullOrEmpty(userName))
    {
        userName = UserManager.GetUserName(User);
    }
}

<h2>@userName's Progress</h2>

@Html.Partial("_GraphScripts")
@Html.Partial("_RangeSelector")

<div class="row" id="graphs">
</div>
