<div class="container">
    <h2>{{ userName }}</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Recent Uploads:</h4>
            <h5>
                <a routerLink="/users/{{userName}}/uploads">See all</a>
            </h5>
            <uploadsTable [userName]="userName"
                          [count]="10"></uploadsTable>
        </div>
        <div class="col-md-6">
            <h4>Progress Summary:</h4>
            <h5>
                <a *ngIf="userName"
                   routerLink="/users/{{userName}}/progress">
                    See all
                </a>
            </h5>
            <p *ngIf="isProgressError"
               class="alert alert-danger">
                Oops! Something went wrong while fetching progress
            </p>
            <p *ngIf="!progress && !isProgressError && !isProgressLoading"
               class="alert alert-warning">
                No uploads in the last week!
            </p>
            <ngx-loading [show]="isProgressLoading && !isProgressError"></ngx-loading>
            <!-- Height is intedned to be 400px, but for some reason the chart is 1.7x what we specify, so use 235 -->
            <canvas baseChart
                    *ngIf="progress"
                    height="235"
                    [chartType]="'line'"
                    [datasets]="progress.datasets"
                    [colors]="progress.colors"
                    [options]="progress.options">
            </canvas>
        </div>
        <div class="col-md-6">
            <h4>Following:</h4>
            <p *ngIf="isFollowsError"
               class="alert alert-danger">
                Oops! Something went wrong while fetching followed users
            </p>
            <p *ngIf="(!follows || !follows.length) && !isFollowsError">
                You are currently not following any users. This feature is coming soon.
            </p>
            <ngx-loading [show]="isFollowsLoading && !isFollowsError"></ngx-loading>
            <table *ngIf="follows && follows.length"
                   class="table table-sm table-striped">
                <tbody>
                    <tr *ngFor="let follow of follows">
                        <td>{{ follow }}</td>
                        <td class="text-right">
                            <a routerLink="/users/{{userName}}/compare/{{follow}}">Compare</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>