<div class="modal-header">
    <h4 class="modal-title">Register</h4>
    <button type="button"
            class="close"
            (click)="activeModal.dismiss()">
        &times;
    </button>
</div>
<div class="modal-body">
    <div *ngIf="errors"
         class="alert alert-danger">
        <div *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>
    <ngx-spinner name="registerDialog"
                 [fullScreen]="false"
                 type="ball-pulse"></ngx-spinner>
    <form (ngSubmit)="register()"
          #registerForm="ngForm">
        <div class="form-group"
             [class.has-danger]="!(formUsername.valid || formUsername.pristine)">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   [class.form-control-danger]="!(formUsername.valid || formUsername.pristine)"
                   id="username"
                   name="username"
                   [(ngModel)]="username"
                   #formUsername="ngModel"
                   required
                   minlength="5" />
            <div *ngIf="formUsername.invalid && (formUsername.dirty || formUsername.touched)"
                 class="alert alert-danger">
                <div *ngIf="formUsername.errors.required">
                    Username is required
                </div>
                <div *ngIf="formUsername.errors.minlength">
                    Username must be at least 5 characters long
                </div>
            </div>
        </div>
        <div class="form-group"
             [class.has-danger]="!(formEmail.valid || formEmail.pristine)">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   [class.form-control-danger]="!(formEmail.valid || formEmail.pristine)"
                   id="email"
                   name="email"
                   [(ngModel)]="email"
                   #formEmail="ngModel"
                   required
                   email />
            <div *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched)"
                 class="alert alert-danger">
                <div *ngIf="formEmail.errors.required">
                    Email address is required
                </div>
                <div *ngIf="formEmail.errors.email">
                    Must be a valid email address
                </div>
            </div>
        </div>
        <div class="form-group"
             [class.has-danger]="!(formPassword.valid || formPassword.pristine)">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   [class.form-control-danger]="!(formPassword.valid || formPassword.pristine)"
                   id="password"
                   name="password"
                   [(ngModel)]="password"
                   #formPassword="ngModel"
                   required
                   minlength="4" />
            <div *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)"
                 class="alert alert-danger">
                <div *ngIf="formPassword.errors.required">
                    Password is required
                </div>
                <div *ngIf="formPassword.errors.minlength">
                    Password must be at least 4 characters long
                </div>
            </div>
        </div>
        <div class="form-group"
             [class.has-danger]="!(formConfirmPassword.valid || formConfirmPassword.pristine)">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   [class.form-control-danger]="!(formConfirmPassword.valid || formConfirmPassword.pristine)"
                   id="confirmPassword"
                   name="confirmPassword"
                   [(ngModel)]="confirmPassword"
                   #formConfirmPassword="ngModel"
                   required
                   [compareEqual]="password" />
            <div *ngIf="formConfirmPassword.invalid && (formConfirmPassword.dirty || formConfirmPassword.touched)"
                 class="alert alert-danger">
                <div *ngIf="formConfirmPassword.errors.compareEqual">
                    Passwords don't match
                </div>
            </div>
        </div>
        <button type="submit"
                [disabled]="!registerForm.form.valid"
                class="btn btn-primary">Register</button>
        <p>
            <a [openDialog]="LogInDialogComponent"
               [dismissCurrentDialog]="true">Already have an account? Log in</a>
        </p>
    </form>
    <h4 class="pt-2 pb-2">Use another service to log in</h4>
    <externalLogins></externalLogins>
</div>