@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (ViewBag.ErrorMessage != null)
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
}
else
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
