<div class="container">
  <h2>Clan Leaderboard</h2>
  <div class="row">
    <div class="col-lg-6">
      <input type="search"
        #filterInput
        class="form-control"
        placeholder="Filter"
        (keyup)="setFilter(filterInput.value)" />

        <div class="position-relative">
          @if (isError) {
            <p
              class="alert alert-danger">
              There was a problem getting leaderboard data
            </p>
          }

          <ngx-spinner name="clans"
            [fullScreen]="false"
          type="ball-pulse"></ngx-spinner>

          @if (!isError) {
            <table
              class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Members</th>
                  <th>Raid Level</th>
                  <th>Legacy Raid Level</th>
                </tr>
              </thead>
              <tbody>
                @for (clan of clans; track clan) {
                  <tr [ngClass]="{'table-success' : clan.isUserClan}">
                    <td>{{ clan.rank }}</td>
                    <td>
                      @if (clan.name) {
                        <a
                        routerLink="/clans/{{clan.name}}">{{ clan.name }}</a>
                      }
                    </td>
                    <td>{{ clan.memberCount | number }}</td>
                    <td>{{ clan.currentNewRaidLevel | number }}</td>
                    <td>{{ clan.currentRaidLevel | number }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
          <ngb-pagination [collectionSize]="totalClans"
            [(page)]="page"
            [pageSize]="count"
            [maxSize]="5"
            [rotate]="true"
            [ellipses]="false"
            [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>