@{
    // Avoid the default layout
    this.Layout = null;
}

@using Microsoft.ApplicationInsights.AspNetCore

@inject JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="/beta" />
        <title>Clicker Heroes Tracker</title>

        <link id="boostrapSheet" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <!-- Site-wide css which we should probably move to its own css file -->
        <style type="text/css">
            /* Move down content because we have a fixed navbar */
            body
            {
                padding-top: 3.5rem;
            }
        </style>

        @this.Html.Raw(this.JavaScriptSnippet.FullScript)

        <!-- Polyfills -->
        <script src="~/lib/core-js/client/shim.min.js"></script>
        <script src="~/lib/zone.js/dist/zone.js"></script>
        <script src="~/lib/systemjs/dist/system.src.js"></script>

        <script src="~/js/systemjs.config.js"></script>
        <script>SystemJS.import("js/main.js").catch(console.error.bind(console));</script>

        <!-- Google ads -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <app>
            <div style="text-align: center">
                <img src="/images/spin.svg" />
            </div>
        </app>
    </body>
</html>
