@using ClickerHeroesTrackerWebsite.Models.Dashboard
@{
    ViewBag.Title = "Uploads";
}

<h2>Uploads</h2>

<div class="row">
    <div class="col-md-6">
        <table id="uploads" class="table">
            <thead>
                <tr>
                    <th>
                        Upload Time
                        <a href="/Manage" class="text-muted" data-toggle="tooltip" data-placement="right" title="Times not displayed in your time zone? You can adjust your time zone on the settings page.">(?)</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Helpers.js")
    @Scripts.Render("~/Scripts/UploadTable.js")

    @* Wire up tooltips *@
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    @* Create upload table *@
    <script type="text/javascript">
        UploadTable.create('uploads', 20, true);
    </script>
}
