@using ClickerHeroesTrackerWebsite.Models.Game

@inject GameData GameData

<h4>Ancient Summary:</h4>
<table class="table">
    <tr>
        <th>Ancient</th>
        <th>Level</th>
        <th></th>
    </tr>
    @foreach (var ancient in GameData.Ancients.Values.OrderBy(a => a.Name, StringComparer.OrdinalIgnoreCase))
    {
        <tr>
            <td>@ancient.Name:</td>
            <td data-type="@AncientIds.GetAncientStatType(ancient.Id).ToString().ToCamelCase()" class="text-right">0</td>
            <td data-type="@AncientIds.GetItemStatType(ancient.Id).ToString().ToCamelCase()"></td>
        </tr>
    }
</table>