@model ClickerHeroesTrackerWebsite.Models.Upload.ComputedStatsViewModel

<h4>Computed Stats:</h4>
<div class="text-muted">
    Based on the <a href="http://s3-us-west-2.amazonaws.com/clickerheroes/ancientssoul.html" target="_blank">calculator</a> by /u/rler.
</div>
<table class="table">
    <tr>
        <td>Souls/hr</td>
        <td>@Model.SoulsPerHour</td>
    </tr>
    <tr>
        <td>Optimal Level</td>
        <td>@Model.OptimalLevel</td>
    </tr>
    <tr>
        <td>Souls per Ascension (at Optimal Level)</td>
        <td>@Model.OptimalSoulsPerAscension</td>
    </tr>
    <tr>
        <td>Optimal Ascension Time</td>
        <td>@Model.OptimalAscensionTime min</td>
    </tr>
</table>