@using ClickerHeroesTrackerWebsite.Models.Calculator

@model ExperimentalStatsViewModel

<h4>Experimental Stats:</h4>
<p class="text-muted">
    These are experimental, so may produce strange or even wrong results. Also, historical uploads may not have data.
    You can disable seeing these on your @Html.ActionLink("settings", "Index", "Manage").
</p>

<table class="table">
    <tr>
        <td>
            Optimal level
            <a
               href="https://redd.it/3f3djb"
               target="_blank"
               class="text-muted"
               data-toggle="tooltip"
               data-placement="right"
               title="This is based on a formula which is deemed only accurate during late game. When Siya &gt; 2k it's within 20, &gt; 5k it's almost exact. Click to see the Reddit post.">
                (?)
            </a>
        </td>
        <td>
            @(Model.OptimalLevel.HasValue ? Model.OptimalLevel.ToString() : "N/A (Idle only)")
        </td>
    </tr>
</table>
