@model ClickerHeroesTrackerWebsite.Models.Upload.SuggestedAncientLevelsViewModel

<h4>Suggested Leveling Plan:</h4>
<div class="text-muted">
    Based on the <a href="http://redd.it/339m3j" target="_blank">Rules of Thumb</a>.
</div>
<table>
    <tr>
        <th>Ancient</th>
        <th>Current Level</th>
        <th>Suggested Level</th>
        <th>Difference</th>
    </tr>
    @foreach (var ancient in Model.SuggestedAncientLevels)
    {
        <tr>
            <td>@ancient.AncientName:</td>
            <td class="text-right">@ancient.CurrentLevel:</td>
            <td class="text-right">@ancient.SuggestedLevel</td>
            <td class="text-right">@ancient.LevelDifference</td>
        </tr>
    }
</table>