<div class="modal-header">
    <h4 class="modal-title">Log in</h4>
    <button type="button"
            class="close"
            (click)="activeModal.dismiss()">
        &times;
    </button>
</div>
<div class="modal-body">
    <div *ngIf="error"
         class="alert alert-danger">
        {{ error }}
    </div>
    <ngx-loading [show]="isLoading && !error"></ngx-loading>
    <form (ngSubmit)="logIn()">
        <div class="form-group">
            <label for="username">Username or Email</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   [(ngModel)]="username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   [(ngModel)]="password" />
        </div>
        <button type="submit"
                class="btn btn-primary">Log in</button>
        <p>
            <a [openDialog]="RegisterDialogComponent"
               [dismissCurrentDialog]="true">Register as a new user?</a>
        </p>
        <p>
            <a [openDialog]="ResetPasswordDialogComponent"
               [dismissCurrentDialog]="true">Forgot your password?</a>
        </p>
    </form>
    <h4 class="pt-2 pb-2">Use another service to log in</h4>
    <externalLogins></externalLogins>
</div>