<div class="container">
    <h2>Calculator</h2>
    <p *ngIf="errorMessage"
       class="alert alert-danger">
        {{ errorMessage }}
    </p>
    <p class="alert alert-warning">
        The suggestions below are for the 1.0e10 patch. Still on the old version? A 1.0e9 version of the site will be temporarily
        available
        <a href="https://clickerheroestracker-old.azurewebsites.net/">here</a>.
    </p>
    <ngx-loading [show]="isLoading && !errorMessage"></ngx-loading>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-inline">
                <li>
                    <label>User:</label>
                    <a *ngIf="userName"
                       routerLink="/users/{{userName}}">{{ userName }}</a>
                    <span *ngIf="!userName"
                          class="text-muted">(Anonymous)</span>
                </li>
                <li>
                    <label>Upload Time:</label>
                    <span>{{ uploadTime | date:'short' }}</span>
                </li>
                <li>
                    <label>Play Style:</label>
                    <span>{{ playStyle | titlecase }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-6 pull-right">
            <button class="btn btn-secondary"
                    (click)="openModal(viewSaveDataModal)">
                View Save Data
            </button>
            <ng-template #viewSaveDataModal
                         let-c="close"
                         let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Save Data</h4>
                    <button type="button"
                            class="close"
                            (click)="d()">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <ngb-tabset>
                            <ngb-tab title="Shareable">
                                <ng-template ngbTabContent>
                                    <p>This has been scrubbed of personal data and is safely shareable.</p>
                                    <textarea class="form-control"
                                              rows="2"
                                              #scrubbedContent
                                              readonly>{{ savedGame.scrubbedContent }}</textarea>
                                    <button type="button"
                                            class="btn btn-primary float-right"
                                            [ngxClipboard]="scrubbedContent"
                                            (cbOnSuccess)="c()">Copy to Clipboard</button>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Raw Data"
                                     *ngIf="!savedGame.isScrubbed">
                                <ng-template ngbTabContent>
                                    <p class="alert alert-warning">This is the exact content you previously uploaded. It generally should not be shared
                                        to other players as it may contain personal data.</p>
                                    <textarea class="form-control"
                                              rows="2"
                                              #rawContent
                                              readonly>{{ savedGame.content }}</textarea>
                                    <button type="button"
                                            class="btn btn-primary float-right"
                                            [ngxClipboard]="rawContent"
                                            (cbOnSuccess)="c()">Copy to Clipboard</button>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="d()">Close</button>
                </div>
            </ng-template>

            <button *ngIf="userId && userInfo && userId === userInfo.id"
                    class="btn btn-danger"
                    (click)="openModal(deleteUploadModal)">
                Delete
            </button>
            <ng-template #deleteUploadModal
                         let-c="close"
                         let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Upload</h4>
                    <button type="button"
                            class="close"
                            (click)="d()">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure? This cannot be undone!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="d()">Cancel</button>
                    <button type="button"
                            class="btn btn-danger"
                            (click)="deleteUpload(c)">Delete</button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Ancients:</h4>
            <p class="text-muted">
                Based on the
                <a href="https://redd.it/4naohc"
                   target="_blank">
                    Math by /u/sugima
                </a>.
            </p>
            <fieldset class="form-group">
                <legend class="col-form-legend">Suggestion Type</legend>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input"
                               type="radio"
                               name="suggestionType"
                               [(ngModel)]="suggestionType"
                               [value]="'AvailableSouls'">
                        <span>Available Souls</span>
                        <span class="text-muted"
                              placement="right"
                              container="body"
                              ngbTooltip="This mode suggests what to buy based on the souls you currently have available">(?)</span>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input"
                               type="radio"
                               name="suggestionType"
                               [(ngModel)]="suggestionType"
                               [value]="'RulesOfThumb'">
                        <span>Rules of Thumb</span>
                        <span class="text-muted"
                              placement="right"
                              container="body"
                              ngbTooltip="This shows the optimal levels based on your primary ancient's level. It does not take into account what you can afford currently">(?)</span>
                    </label>
                </div>
            </fieldset>
            <div *ngIf="suggestionType == 'AvailableSouls'"
                 class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input"
                           name="useSoulsFromAscension"
                           [(ngModel)]="useSoulsFromAscension"
                           type="checkbox">
                    <span>Include souls from ascension (+{{ pendingSouls | exponential }})</span>
                </label>
            </div>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Ancient</th>
                        <th>Current</th>
                        <th>Suggested</th>
                        <th>Difference</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ancient of ancients">
                        <td>
                            {{ ancient.name }}:
                            <a href="/Manage"
                               class="text-muted"
                               *ngIf="ancient.name == 'Solomon' && (!transcendentPower || transcendentPower.isZero())"
                               placement="right"
                               container="body"
                               ngbTooltip="{{userInfo.isLoggedIn ? 'This is using your settings for the Solomon formula preference. You can change this on your settings page.' : 'By default we use the &quot;Ln&quot; Solomon formula. You may change this by logging in and changing your settings.'}}">
                                (?)
                            </a>
                        </td>

                        <td class="text-right">
                            {{ ancient.ancientLevel | exponential }}
                            <span *ngIf="!ancient.itemLevel.isZero()"
                                  placement="right"
                                  container="body"
                                  ngbTooltip="Effective Level: {{ancient.effectiveLevel | exponential}}">
                                (*)
                            </span>
                        </td>

                        <td class="text-right">
                            {{ ancient.isBase ? "N/A" : ancient.suggestedLevel !== undefined ? (ancient.suggestedLevel | exponential) : "-" }}
                            <span *ngIf="ancient.isBase"
                                  class="text-muted"
                                  placement="right"
                                  container="body"
                                  ngbTooltip="The formulae are based on this ancient. If all suggestions are negative or zero, level this ancient.">
                                (*)
                            </span>
                        </td>
                        <td class="text-right"
                            [ngClass]="{'copiable font-weight-bold' : ancient.diffCopyValue}"
                            ngxClipboard
                            [cbContent]="ancient.diffCopyValue"
                            placement="right"
                            container="body"
                            ngbTooltip="{{ancient.diffValue !== undefined ? 'Click to copy to clipboard' : ''}}">
                            {{ ancient.diffValue !== undefined && !ancient.isBase ? (ancient.diffValue | exponential) : "-" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Outsider:</h4>
            <p>There are no suggestions for Outsiders yet as no one knows what is optimal yet. Once formulas are available,
                they will be added.</p>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Outsider</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let outsider of outsiders">
                        <td>{{ outsider.name }}:</td>
                        <td class="text-right">{{ outsider.currentLevel | exponential }}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Miscellaneous stats:</h4>
            <table class="table table-sm table-striped">
                <tbody>
                    <tr>
                        <td>Hero Souls Spent</td>
                        <td class="text-right">{{ heroSoulsSpent | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Hero Souls Sacrificed</td>
                        <td class="text-right">{{ heroSoulsSacrificed | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Ancient Souls Earned</td>
                        <td class="text-right">{{ totalAncientSouls | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Transcendent Power</td>
                        <td class="text-right">{{ (transcendentPower ? transcendentPower.toNumber() : 0) | percent }}</td>
                    </tr>
                    <tr>
                        <td>Titan Damage</td>
                        <td class="text-right">{{ titanDamage | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Highest Zone</td>
                        <td class="text-right">{{ highestZoneThisTranscension | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Highest Zone (Lifetime)</td>
                        <td class="text-right">{{ highestZoneLifetime | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Ascensions</td>
                        <td class="text-right">{{ ascensionsThisTranscension | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Ascensions (Lifetime)</td>
                        <td class="text-right">{{ ascensionsLifetime | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Rubies</td>
                        <td class="text-right">{{ rubies | exponential }}</td>
                    </tr>
                    <tr>
                        <td>Autoclickers</td>
                        <td class="text-right">{{ autoclickers | exponential }}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Optimal Ascension Zone (Experimental):</h4>
            <p>
                This is the zone at which you stop insta-killing monsters.
            </p>
            <p class="text-muted">
                This feature is not complete yet as it assumes an idle playstyle and may not fully account for some aspects of the game.
            </p>
            <p class="text-muted">
                Each row is a "step" in the calculation, ie. where purchasing hero levels is required to continue insta-killing.
            </p>
            <div>
                <button *ngIf="!calculateAscensionZoneSteps"
                        class="btn btn-secondary"
                        (click)="calculateAscensionZone()">Calculate</button>
            </div>
            <table *ngIf="calculateAscensionZoneSteps"
                   class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Zone</th>
                        <th>Current Hero</th>
                        <th>Hero Level</th>
                        <th>Hero Gilds</th>
                        <th>Damage</th>
                        <th>Gold</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of calculateAscensionZoneSteps">
                        <td class="text-right">{{ data.zone }}</td>
                        <td>{{ data.hero }}</td>
                        <td class="text-right">{{ data.heroLevel }}</td>
                        <td class="text-right">{{ data.heroGilds }}</td>
                        <td class="text-right">{{ data.damage | exponential }}</td>
                        <td class="text-right">{{ data.gold | exponential }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>