<div class="modal-header">
  <h4 class="modal-title">Reset Password</h4>
  <button type="button"
    class="btn-close"
  (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  @if (errors) {
    <div
      class="alert alert-danger">
      @for(error of errors; track error) {
        <div>
          {{ error }}
        </div>
      }
    </div>
  }
  <ngx-spinner name="resetPasswordDialog"
    [fullScreen]="false"
  type="ball-pulse"></ngx-spinner>
  @if (!codeSent) {
    <form
      (ngSubmit)="sendCode()"
      #codeForm="ngForm">
      <div class="mb-3"
        [class.has-danger]="!(formEmail.valid || formEmail.pristine)">
        <label for="email">Email</label>
        <input type="email"
          class="form-control"
          [class.form-control-danger]="!(formEmail.valid || formEmail.pristine)"
          id="email"
          name="email"
          [(ngModel)]="email"
          #formEmail="ngModel"
          required
          email />
          @if (formEmail.invalid && (formEmail.dirty || formEmail.touched)) {
            <div
              class="alert alert-danger">
              @if (formEmail.errors.required) {
                <div>
                  Email address is required
                </div>
              }
              @if (formEmail.errors.email) {
                <div>
                  Must be a valid email address
                </div>
              }
            </div>
          }
        </div>
        <button type="submit"
          [disabled]="!codeForm.form.valid"
        class="btn btn-primary">Send Reset Code</button>
      </form>
    }
    @if (codeSent) {
      <form
        (ngSubmit)="resetPassword()"
        #resetForm="ngForm">
        <p>
          We've emailed you a reset code. Please check your email and paste the code below.
        </p>
        <div class="mb-3"
          [class.has-danger]="!(formCode.valid || formCode.pristine)">
          <label for="code">Reset code</label>
          <input type="text"
            class="form-control"
            [class.form-control-danger]="!(formCode.valid || formCode.pristine)"
            id="code"
            name="code"
            [(ngModel)]="code"
            #formCode="ngModel"
            required />
            @if (formCode.invalid && (formCode.dirty || formCode.touched)) {
              <div
                class="alert alert-danger">
                Reset code is required
              </div>
            }
          </div>
          <div class="mb-3"
            [class.has-danger]="!(formPassword.valid || formPassword.pristine)">
            <label for="password">Password</label>
            <input type="password"
              class="form-control"
              [class.form-control-danger]="!(formPassword.valid || formPassword.pristine)"
              id="password"
              name="password"
              [(ngModel)]="password"
              #formPassword="ngModel"
              required
              minlength="4" />
              @if (formPassword.invalid && (formPassword.dirty || formPassword.touched)) {
                <div
                  class="alert alert-danger">
                  @if (formPassword.errors.required) {
                    <div>
                      Password is required
                    </div>
                  }
                  @if (formPassword.errors.minlength) {
                    <div>
                      Password must be at least 4 characters long
                    </div>
                  }
                </div>
              }
            </div>
            <div class="mb-3"
              [class.has-danger]="!(formConfirmPassword.valid || formConfirmPassword.pristine)">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password"
                class="form-control"
                [class.form-control-danger]="!(formConfirmPassword.valid || formConfirmPassword.pristine)"
                id="confirmPassword"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                #formConfirmPassword="ngModel"
                required
                ngValidateEqual="password" />
                @if (formConfirmPassword.invalid && (formConfirmPassword.dirty || formConfirmPassword.touched)) {
                  <div
                    class="alert alert-danger">
                    @if (formConfirmPassword.hasError('notEqual') && formPassword.valid) {
                      <div>
                        Passwords don't match
                      </div>
                    }
                  </div>
                }
              </div>
              <button type="submit"
                [disabled]="!resetForm.form.valid"
              class="btn btn-primary">Reset Password</button>
            </form>
          }
        </div>