body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

/* Override the text area in the feedback form to ensure it takes up the whole modal */
#feedbackModal textarea
{
    max-width: none;
}

/* Ajax loading spinner */
div#loadingElement
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.clickable 
{
    cursor: pointer;
}
.clickable:hover 
{
    background-color: #e6e6e6;
}

.alert-success, .alert-error 
{
    display: none;
    position:fixed; 
    top: 50px; 
    left: 50%;
    z-index:9999;
    width: inherit;
    transform: translateX(-50%);
}

.clan-message 
{
    border: solid 1px #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    background-color: #ECD78B;
    color: #814141;
    font-weight: bold;
    box-shadow: 3px 3px 3px #ccc;
    white-space: pre-line;
}

.message-box 
{
    margin: 5px;
    padding: 5px;
}

.message-box form input 
{
    max-width: 482px;
    display: inline-block;
}

.message-box form button 
{
    display: inline-block;
}

.timeName, .messageContent {
    margin-bottom: 0;
}

.highlighted-clan {
    background-color: #5cb85c !important;
    color: white !important;
    font-weight: bold;
}
